In [1]:
import acquire as aq
import prepare as prep
import explore
import model_functions as model

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
import sklearn.preprocessing

import warnings
warnings.filterwarnings("ignore")

In [2]:
model.model_report_all_data()

  Model                           Parameters  Train  Validate  Difference
0    DT                        Max Depth = 3  0.792     0.794      -0.002
1    RF  Max Depth = 6 & Min Sample Leaf = 2  0.818     0.808       0.010
2   KNN                             KNN = 19  0.796     0.789       0.007
3    LR                              Default  0.805     0.792       0.013

In [3]:
model.model_report_select_data()

  Model                           Parameters  Train  Validate  Difference
0    DT                        Max Depth = 5  0.798     0.794       0.004
1    RF  Max Depth = 6 & Min Sample Leaf = 4  0.812     0.802       0.010
2   KNN                             KNN = 14  0.813     0.800       0.013
3    LR                              Default  0.807     0.801       0.006

In [4]:
telco_df = prep.prep_telco()
train, validate, test = explore.train_validate_test_split(telco_df, 'churn', seed=123)
X_train = train.drop(columns=['customer_id', 'churn'])
y_train = train.churn

X_validate = validate.drop(columns=['customer_id', 'churn'])
y_validate = validate.churn

X_test = test.drop(columns=['customer_id', 'churn'])
y_test = test.churn

train:    (3943, 29)
validate: (1691, 29)
test:     (1409, 29)

In [5]:
model.best_rf(X_train, y_train, y_train, X_train)

                     0            1  accuracy    macro avg  weighted avg
precision     0.840838     0.720805  0.818159     0.780822      0.808996
recall        0.928202     0.513384  0.818159     0.720793      0.818159
f1-score      0.882363     0.599665  0.818159     0.741014      0.807369
support    2897.000000  1046.000000  0.818159  3943.000000   3943.000000

In [6]:
model.best_rf(X_train, y_train, y_validate, X_validate)

                     0           1  accuracy    macro avg  weighted avg
precision     0.835526    0.693498  0.808397     0.764512      0.797815
recall        0.920290    0.498886  0.808397     0.709588      0.808397
f1-score      0.875862    0.580311  0.808397     0.728086      0.797386
support    1242.000000  449.000000  0.808397  1691.000000   1691.000000

In [7]:
model.best_rf(X_train, y_train, y_test, X_test)

                     0           1  accuracy    macro avg  weighted avg
precision     0.838681    0.672474  0.804826     0.755577      0.794564
recall        0.909179    0.516043  0.804826     0.712611      0.804826
f1-score      0.872508    0.583964  0.804826     0.728236      0.795918
support    1035.000000  374.000000  0.804826  1409.000000   1409.000000

In [11]:
y_prediction = model.best_model_churn_prediction(X_train, y_train, y_test, X_test)

In [10]:
output = X_test.copy()

In [13]:
output['y_prediction'] = y_prediction
output['churn'] = y_test
output.head()

,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,...,two_yr_contract,dsl,fiber,no_internet,bank_transfer,credit_card,electronic_check,mailed_check,y_prediction,churn
2789,0,0,0,72,1,1,1,1,1,1,...,1,0,1,0,1,0,0,0,0,0
1233,0,1,0,11,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
6784,0,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
3177,0,1,0,71,1,1,1,1,1,0,...,0,0,1,0,0,0,1,0,0,0
1740,0,0,0,2,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1

In [14]:
output.to_csv('churn_predictions.csv')